<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>indiaheritagetrips</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-v8QQ0YQ3H4K6Ic3PJkym91KoeNT5S3PnDKvqnwqFD1oiqIl653crGZplPdU5KKtHjO0QKcQ2aUlQZYjHczkmGw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <a href="/"> </a>
        <img src="static/images/travellogo.jpg" alt="Travel Logo" width="170px">
        <nav class="navbar">
            <ul>
                <li><a href="/">Services</a></li>
                <li><a href="/">Destination</a></li>
                <li><a href="/bookings">Booking</a></li>
                <li><a href="/">Testimonial</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup" class="signup-btn">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="left-container">
            <div class="left-content">
                <h4>Best Destination around the world</h4>
                <h1>Travel, enjoy and live a new and full life</h1>
                <p>🌍 Exciting News from India Heritage Trips! <br>
                    We are thrilled to announce the launch of our overseas office in Coventry, United Kingdom! 🎉 
                    This is a significant milestone as we continue to spread our wings across the globe.

                    Our UK office is under the expert leadership of Mr. Tejas Hathalia, who brings with him extensive 
                     experience in the travel industry since 2002. Over the years, he has worked closely with the UK market,
                      offering top-tier travel experiences. ✈️ 
                    
                    We’re now ready to share the beauty and culture of India and other incredible destinations with you all! <br> 
                    Your support will help us craft unforgettable travel experiences for all our customers. 🌟<br>
                    
                    Stay tuned for regular updates and exclusive offers! <br>
                    Don’t forget to follow us on Instagram: @indiaheritagetrips 📸<br>
            
                    
                    We have more to offer than you can bargain! 😎</p>
                    <button class="contact-btn">Contact</button>
                    <button class="booking-btn">Booking</button>
            </div>
        </div>
            <div class="right-container">
                <img src="static/images/khem_villas.jpg">
                </div>
            
            </section>
                <!-- services Section -->
<section class="title-style">
    <div class="category-title">
        <h5>CATEGORY</h5>
        <h3>We offer Best Services</h3>
    </div>
    <!-- services-card Section -->
<div class="services-card">
    <div class="card">
        <img src="static/images/weather_icon.jpg" alt="" width="75">
        <h4>Calculated Weather</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="card">
        <img src="static/images/plane_logo.jpg" alt="" width="75">
        <h4>Best Flights</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="card">
        <img src="static/images/events_logo.jpg" alt="" width="75">
        <h4>Local Events</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="card">
        <img src="static/images/settings_logo.png" alt="" width="75">
        <h4>Customization</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    </div>
</section>
    <!-- Webservices-card Section -->
     <!-- Top Services Section -->
     <section class="title-style" style="margin-bottom: 50px;">
        <div class="category-title">
            <h5>Top Selling</h5>
            <h3>We Offer Best Services</h3>
        </div>
    
        <div class="services-card">
            <!-- Card 1: Evershine Resort -->
            <div class="destination-card">
                <img src="static/images/mahabaleshwar.jpg" alt="Evershine Resort">
                <div class="card-content">
                    <h4>Evershine Resort</h4>
                    <p class="location">Mahabaleshwar</p>
                    <div class="price">
                        <span>Starting From</span> <strong>₹8500/-</strong>
                    </div>
                    <p class="details">Per Couple Per Night Including Breakfast, Hi-Tea.</p>
                    <button class="view-details">View Details</button>
                </div>
            </div>
    
            <!-- Card 2: The Fern An Ecotel Hotel -->
            <div class="destination-card">
                <img src="static/images/lonavala.jpg" alt="The Fern An Ecotel Hotel">
                <div class="card-content">
                    <h4>The Fern An Ecotel Hotel</h4>
                    <p class="location">Lonavala</p>
                    <div class="price">
                        <span>Starting From</span> <strong>₹5500/-</strong>
                    </div>
                    <p class="details">Per Couple Per Night Including Breakfast</p>
                    <button class="view-details">View Details</button>
                </div>
            </div>
    
            <!-- Card 3: Hotel Sahara Star -->
            <div class="destination-card">
                <img src="static/images/hotelsahara.jpg" alt="Hotel Sahara Star">
                <div class="card-content">
                    <h4>Hotel Sahara Star</h4>
                    <p class="location">Mumbai</p>
                    <div class="price">
                        <span>Starting From</span> <strong>₹6650/-</strong>
                    </div>
                    <p class="details">Per Couple Per Night Including All Meals</p>
                    <button class="view-details">View Details</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Card 3: booking -->
    <section class="title-style" style="margin-bottom: 50px;">
        <div class="left-container-booking">
            <div class="left-content-booking">
                <h5>Easy and Fast</h5>
                <h3>Book Your next trip in 3 easy steps</h3>
                
                <div class="booking-title"></div>
                <div class="booking-title"></div>
    
                <div class="booking-title">
                    <div class="booking-icon icon-1">
                        <img src="static/images/destination_logo.png" alt="" width="22">
                    </div>
                    <div class="booking-icon-title">
                        <h5>Choose Destination</h5>
                        <p>Choose your favourite place. No matter  <br> 
                            where you travel inside the World.</p>
                    </div>
                </div>
                <div class="booking-title">
                    <div class="booking-icon icon-2">
                        <img src="static/images/payment_logo.jpg" alt="" width="22">
                    </div>
                    <div class="booking-icon-title">
                        <h5>Make Payment</h5>
                        <p>After find your perfect spot, 
                            <br> 
                            make your payment and get ready to travel.</p>
                    </div>
                </div>
                <div class="booking-title">
                    <div class="booking-icon icon-3">
                        <img src="static/images/airport_logo.png" alt="" width="22">
                    </div>
                    <div class="booking-icon-title">
                        <h5>Reach Airport on Selected Date</h5>
                        <p>Lastly, you have to arrive at the airport <br> 
                        on time and enjoy the vacation.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
            <section class="title-style" style="margin-bottom: 50px;">
                <div>
                    <div class="left-container-booking"></div>
                    
                    <div class="right-container-booking">
                        <div class="booking-card">
                            <img src="static/images/india_tour.jpg" class="booking-img" alt="">
            
                            <h5>Trip To India</h5>
                            <p>14-29 June | By Tejas Hathalia</p>
            
                            <div class="social-icon">
                                <span class="icon-item"><img src="images/leaf.jpg" alt="" width="22"></span>
                                <span class="icon-item"><img src="images/map_icon.png" alt="" width="22"></span>
                                <span class="icon-item"><img src="images/send.png" alt="" width="22"></span>
                            </div>
            
                            <div class="booking-card-footer">
                                <div class="left-booking-card-footer">
                                    <img src="static/images/building.png" alt="" width="36">
                                    <span>24 people going</span>
                                </div>
            
                                <div>
                                    <img src="static/images/heart_logo.png" alt="" width="20">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- Contact Section -->
<section class="title-style" style="margin-top: 60%; margin-bottom: 50px;">
    <div class="contact">
        <div class="contact-container">
            <div class="share-arrow">
                <img src="static/images/send.png" alt="">
            </div>
            <div class="shape-bg2">
                <img src="static/images/shape-bg2.png" alt="">
            </div>
            <div class="shape-bg1">
                <img src="static/images/shape-bg1.png" alt="">
            </div>
        </div>
        <div class="contact-text">
            <div class="con-text">
                <h2>Subscribe to get information, latest news and other interesting offers about Cobank</h2>
            </div>
            <form action="" class="form-text">
                <div class="input-group-icon">
                    <input type="email" class="form-control" placeholder="Enter Email" />
                    <img src="static/images/mail.jpg" alt="" class="input-box-icon" width="38">
                </div>
        
                <div class="subscribe-btn">
                    <button class="btn-sub">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</section>

<!-- Footer Section -->       
<section>
    <div class="footer">
        <div class="footer-col f-col-1">
            <h2 class="footer-logo">IndiaHeritageTrips <span>Travel</span></h2>
            <p>Book your trip in minutes, get full control for much longer.</p>
        </div>

        <div class="footer-col">
            <h4>Company</h4>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Mobile</a></li>
            </ul>
        </div>
        
        <div class="footer-col">
            <h4>Contact</h4>
            <ul>
                <li><a href="">Help/FAQ</a></li>
                <li><a href="">Press</a></li>
                <li><a href="">Affiliate</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>More</h4>
            <ul>
                <li><a href="">Airline Fees</a></li>
                <li><a href="">Airline</a></li>
                <li><a href="">Low fare tips</a></li>
            </ul>
        </div>

        <div class="footer-col social-section">
        
            <div class="footer-app">
                <h4>Discover our app</h4>
                <div class="store-icons">
                    <img src="static/images/playstore.jpg" alt="Google Play Store">
                    <img src="static/images/applestore.jpg" alt="Apple Store">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="end-text">
    <p>2025 Travelport. All Rights Reserved</p>
    </div>
   
</body>
</html>
